@using BugTracker.Models
@model List<PMAssignUsersTicketVM>

@{ 
    //var DispTicketsVM = (DispTicketsVM)ViewData["TicketsCollection"];

}


            
                <div class="table-responsive">
                    <table class="table table-striped compact myDTcheckbox">
                        <thead>
                            <tr class="ticket-tbl-row">
                                <th></th>
                                <th>#</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Type</th>
                                <th>Project</th>
                                <th>Title</th>
                                <th>Owner</th>
                                <th>Assigned</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody class="disp-tick-tbody display tbody-chk" cellspacing="0" width="100%">
                            @for (var i = 0; i < Model.ToArray().Length; i++)
                            {
                                <tr class="ticket-tbl-row rw-chk">
                                    <td>
                                        @Html.CheckBoxFor(m=> Model[i].IsChecked)
                                        @Html.HiddenFor(m => Model[i].TicketId)
                                        @Html.HiddenFor(m => Model[i].ProjectId )
                                        @Html.HiddenFor(m => Model[i].Ticket)
                                     </td>
                                    <td>
                                        <a href="@Url.Action("Ticket","BT", new { Id = Model[i].Ticket.Id })">@Model[i].Ticket.Id</a>
                                    </td>
                                    <td>
                                        <div class="ticket-tbl-time">
                                            @Html.DisplayFor(m => Model[i].Ticket.Created)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ticket-tbl-time">
                                            @Model[i].Ticket.Updated
                                        </div>
                                    </td>
                                    <td>
                                        <span class="tk-status ticket-label status-@Model[i].Ticket.TicketStatusID">
                                            @Model[i].Ticket.TicketStatus.Name
                                        </span>
                                    </td>
                                    <td>
                                        <span class="tk-priority ticket-label priority-@Model[i].Ticket.TicketPriorityID">
                                            @Model[i].Ticket.TicketPriority.Name
                                        </span>
                                    </td>
                                    <td>
                                        <span class="tk-type ticket-label type-@Model[i].Ticket.TicketTypeID">
                                            @Model[i].Ticket.TicketType.Name
                                        </span>
                                    </td>
                                    <td>
                                        @Model[i].Ticket.Project.Name
                                    </td>


                                    <td>
                                        <div class="ticket-tbl-title">
                                            <a href="@Url.Action("Ticket","BT", new { Id = Model[i].Ticket.Id })">@Model[i].Ticket.Title</a>
                                        </div>
                                    </td>
                                    <td>
                                        @Model[i].Ticket.OwnerUser.DisplayName
                                    </td>
                                    <td>
                                        @if (Model[i].Ticket.AssignedToUser != null)
                                        {
                                            @Model[i].Ticket.AssignedToUser.DisplayName
                                        }
                                        else
                                        {
                                            @:UnAssigned
                                        }
                                    </td>
                                    <td>
                                        <div class="ticket-tbl-body">
                                            @Model[i].Ticket.Description
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                </div>
            
