@using BugTracker.Models
@model DispTicketsVM

@{ 
//var DispTicketsVM = (DispTicketsVM)ViewData["TicketsCollection"];


}

<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="pull-left">
                <strong>Tickets</strong><br />
                @Model.TitleDesc
            </div>
                <div class="pull-right ticket-box-header-btns"><a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a> </div>
                <br />
            <br />
            </div>
        <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped compact myDT">
                        <thead>
                            <tr class="ticket-tbl-row">
                                <th>#</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Type</th>
                                <th>Project</th>
                                <th>Title</th>
                                <th>Owner</th>
                                <th>Assigned</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody class="disp-tick-tbody display" cellspacing="0" width="100%">
                            @foreach (var item in Model.TicketList.OrderByDescending(m => m.Created))
                            {
                                <tr class="ticket-tbl-row">
                                    <td>
                                        <a href="@Url.Action("Ticket","BT", new { Id = item.Id })">@item.Id</a>
                                    </td>
                                    <td>
                                        <div class="ticket-tbl-time">
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ticket-tbl-time">
                                            @item.Updated
                                        </div>
                                    </td>
                                    <td>
                                        <span class="tk-status ticket-label status-@item.TicketStatusID">
                                            @item.TicketStatus.Name
                                        </span>
                                    </td>
                                    <td>
                                        <span class="tk-priority ticket-label priority-@item.TicketPriorityID">
                                            @item.TicketPriority.Name
                                        </span>
                                    </td>
                                    <td>
                                        <span class="tk-type ticket-label type-@item.TicketTypeID">
                                            @item.TicketType.Name
                                        </span>
                                    </td>
                                    <td>
                                        @item.Project.Name
                                    </td>


                                    <td>
                                        <div class="ticket-tbl-title">
                                            <a href="@Url.Action("Ticket","BT", new { Id = item.Id })">@item.Title</a>
                                        </div>
                                    </td>
                                    <td>
                                        @item.OwnerUser.DisplayName
                                    </td>
                                    <td>
                                        @if (item.AssignedToUser != null)
                                        {
                                            @item.AssignedToUser.DisplayName
                                        }
                                        else
                                        {
                                            @:UnAssigned
                                        }
                                    </td>
                                    <td>
                                        <div class="ticket-tbl-body">
                                            @item.Description
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>