@using BugTracker.Models
@model AdminUserData
@{ 
    var AllUsers = (List<ApplicationUser>) ViewData["AllUsers"];

}

@{
    ViewBag.Title = "AdminUsersIndex";
}

<h2>UsersIndex</h2>

<table>
    <thead>
        <tr>
          <th>
              First Name
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var user in AllUsers)
    {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.DisplayName</td>
            <td>@user.Id.ToString()</td>
            <td>@user.Email</td>
            <td>
                <div class="btn-group m-r-10">
                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default btn-outline dropdown-toggle waves-effect waves-light" type="button"> <i class="fa fa-pencil-square m-r-5"></i> <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="@Url.Action("EditUserRoles", "Admin", new { id = @user.Id })">Edit Roles</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</tbody>
</table>

