@model BugTracker.Models.AdminUserViewModel
@{
    ViewBag.Title = "Edit User Roles & Account Settings";
    var titleDesc = Model.User.DisplayName + "'s user settings.";
    var messageSuccess = (string)ViewData["MessageSuccess"];
    var messageFail = (string)ViewData["MessageFail"];
}

<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="pull-left">
                <strong>Edit User Roles</strong>
            </div>
            <div class="pull-right slim-heading-btns"><a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a> </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
                <div class="row">
                    <h4> @titleDesc</h4>
                    <h5 class="text-success">@messageSuccess</h5>
                    <h5 class="text-danger">@messageFail</h5>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @using (Html.BeginForm("EditUserRoles", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Roles, new { @class = "col-md-2 control-label" })
                                <div class="col-md-6">
                                    @Html.ListBox("SelectedRoles", Model.Roles)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SelectedRoles, new { @class = "col-md-2 control-label" })
                                <div class="col-md-6">
                                    @Html.EditorFor(m => m.SelectedRoles, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="fcbtn btn btn-outline btn-success btn-1d" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm("EditUserAccount", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            <input id="UserId" name="UserId" type="hidden" value="@Model.User.Id">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class = "col-md-3 control-label" > First Name</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" data-val="true" data-val-length="The First Name must be at least 2 characters long." data-val-length-max="20" data-val-length-min="2" data-val-required="The First Name field is required." id="UserFirstName" name="UserFirstName" type="text" value="@Model.User.FirstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Last Name</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" data-val="true" data-val-length="The Last Name must be at least 2 characters long." data-val-length-max="20" data-val-length-min="2" data-val-required="The Last Name field is required." id="UserLastName" name="UserLastName" type="text" value="@Model.User.FirstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Display Name</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" data-val="true" data-val-length="The Display Name must be at least 4 characters long." data-val-length-max="40" data-val-length-min="4" data-val-required="The Display Name field is required." id="UserDisplayName" name="UserDisplayName" type="text" value="@Model.User.DisplayName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Phone Number</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" id="PhoneNumber" name="PhoneNumber" type="text" value="@Model.User.PhoneNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="fcbtn btn btn-outline btn-success btn-1d" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
