@using BugTracker.Models
@model IEnumerable<BugTracker.Models.Projects>
@{
    ViewBag.Title = "Project Administration";
    var inactiveProjects = (IEnumerable<Projects>)ViewData["InactiveProjects"];
    var activeProjects = (IEnumerable<Projects>)ViewData["ActiveProjects"];
}

<div class="col-xs-12 col-md-6">
    <div class="panel panel-danger">
        <div class="panel-heading">
            All Active Projects
            <div class="pull-right"><a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="#" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
        </div>
        <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
                <p>
                    <a href="@Url.Action("ProjectCreate", "Admin")" class="fcbtn btn btn-info btn-outline btn-1d">Create Project</a>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Project
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in activeProjects)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <div class="pull-right">
                                <a href="@Url.Action("ProjectEdit", "Admin", new { id = item.Id })" class="fcbtn btn btn-info btn-outline btn-1d">Edit</a>
                                <a href="@Url.Action("ProjectDetails", "BT", new { id = item.Id })" class="fcbtn btn btn-info btn-outline btn-1d">Go To Project</a>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-6">
    <div class="panel panel-danger">
        <div class="panel-heading">
            All Inactive Projects
            <div class="pull-right"><a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="#" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
        </div>
        <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body" style="padding-top: 73px;">
                <table class="table">
                    <tr>
                        <th>
                            Project
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in inactiveProjects)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <div class="pull-right">
                                    <a href="@Url.Action("ProjectEdit", "Admin", new { id = item.Id })" class="fcbtn btn btn-info btn-outline btn-1d">Edit</a>
                                    <a href="@Url.Action("ProjectDetails", "BT", new { id = item.Id })" class="fcbtn btn btn-info btn-outline btn-1d">Go To Project</a>
                                </div>
                            </td>
                        </tr>
                        }
                </table>
            </div>
        </div>
    </div>
</div>
