@model BugTracker.Models.IndexViewModel
@{
    ViewBag.Title = "Account Settings";
}
      <!-- .row -->
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                Account Details
                <div class="panel-action">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">Edit <span class="caret"></span></a>
                        <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
                            <li role="presentation"><a href="@Url.Action("EditAccount","Manage")" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> Edit Details</a></li>
                            <li role="presentation"><a href="@Url.Action("ChangePassword","Manage")" role="menuitem"> Change Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-wrapper collapse in">

                <p class="text-success text-center m-t-10">@ViewBag.StatusMessage</p>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10 center-block">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><b>Display Name:</b></td>
                                            <td>@Model.UserDisplayName</td>
                                        </tr>
                                        <tr>
                                            <td><b>First Name:</b></td>
                                            <td>@Model.UserFirstName</td>
                                        </tr>
                                        <tr>
                                            <td><b>Last Name:</b></td>
                                            <td>@Model.UserLastName</td>
                                        </tr>
                                        <tr>
                                            <td><b>Email:</b></td>
                                            <td>@Model.UserEmail</td>
                                        </tr>
                                        <tr>
                                            <td><b>User Name:</b></td>
                                            <td>@Model.UserUserName</td>
                                        </tr>
                                        <tr>
                                            <td><b>Phone Number:</b></td>
                                            <td>@Model.PhoneNumber</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"> If you're having issues with your account, please reach out to your Project Manger or Systems Administrator. </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


@*<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        @*<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        @*</dd>
    </dl>
</div>*@
